@font-face {
    font-family: starwars;
    src: url("fonts/Starjout.ttf");
}

body {
    font-family: "Roboto", sans-serif;
}

#site-brand {
    font-family: starwars;
}

#add-modal {
    overflow-y: visible;
}

.coffee {
    margin: 8px 0;

}

.dropdown-content * {
    color: #000 !important;

}

/* label color */
.input-field label {
    color: #000 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000 !important;
}

.card i {
    float: right;
}

.fa-empire {
    color: #000000;
}

.fa-first-order {
    color: #be5653;
}

.fa-rebel {
    color: deepskyblue;
}